/* page.module.css */

.postBox {
  background-color: #161b22;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden; /* Ensure hover effect covers entire box */
  cursor: pointer;
  transition: border 0.3s ease-in-out;
}

.postBox:hover {
  border: 2px solid #ffffff;
}

.postContent {
  padding: 20px;
}

.postTitle {
  font-size: 1.5em;
  color: #c9d1d9;
  margin: 0;
}

.postDate {
  font-size: 0.9em;
  color: #8b949e;
}





